.container .app {
  margin: 60px auto;
  max-width: 700px;

  padding: 40px;
  background: #ffffff;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.6);
  color: rgb(135, 135, 135);
}

.container .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
.container .search-input {
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  width: 100%;
}

.cityname {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #272142;
}

form {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.overview {
  margin: 0;
  padding: 0;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.strong {
  color: #f65282;
  font-weight: normal;
}

.temp {
  color: #212121;
  font-size: 60px;
  font-weight: 400;
  font-weight: 700;
}

.unit {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 0px;
  cursor: pointer;
}
.container .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.container .active:hover {
  text-decoration: none;
}
.container .max-temp {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.week-day {
  margin-top: 10px;
  color: rgba(39, 33, 66, 0.7);
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.container .min-temp {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.6;
}
