.search-input {
  background: #e7e2f3;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  width: 100%;
}
.container .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.cityname {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #272142;
}
ul {
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f9f7fe;
}
li {
  display: inline-block;
  min-width: 7em;
}
.container {
  margin: 60px auto;
  background: #ffffff;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.6);
  padding: 40px;
  color: rgb(135, 135, 135);
}
form {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.timestamps {
  margin: 0;
  padding: 0;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.strong {
  color: #f65282;
  font-weight: normal;
}

.container .app {
  padding: 20px;
}

.temp {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: -20px;
}

.unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  top: -34px;
}
